<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/image/leaf_LOGO.png">

    <!-- Google Fonts
    ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
    ============================================ -->
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <!-- nalika Icon CSS
        ============================================ -->
    <link href="~/css/temp/nalika-icon.css" rel="stylesheet" asp-append-version="true" />
    <!-- animate CSS
    ============================================ -->
    <link href="~/css/temp/animate.css" rel="stylesheet" asp-append-version="true" />
    <!-- metisMenu CSS
    ============================================ -->
    <link href="~/css/temp/metismenuvertical.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/temp/metismenu.css" rel="stylesheet" />
    <!-- style CSS
    ============================================ -->
    <link href="~/css/temp/style.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/css/layout.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/sign.css" type="text/css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="body-layout">
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="#"><img class="main-logo" src="~/image/logoLaKho.jpg" width="200" height="60" alt="" /></a>
                <strong><img src="~/image/logoLaKho.jpg" alt="" /></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a href="/Sach">
                                <i class="icon icon-wrap nalika-folder"></i>
                                <span class="mini-click-non">Sách</span>
                            </a>
                        </li>
                        <li>
                            <a href="/TheLoai" aria-expanded="false">
                                <i class="icon icon-wrap nalika-flag"></i>
                                <span class="mini-click-non">Thể loại</span>
                            </a>
                        </li>
                        <li>
                            <a href="/TacGia" aria-expanded="false">
                                <i class="icon icon-wrap nalika-user"></i>
                                <span class="mini-click-non">Tác giả</span>
                            </a>
                        </li>
                        <li>
                            <a href="/NhaXuatBan" aria-expanded="false">
                                <i class="icon icon-wrap nalika-paper-plane"></i>
                                <span class="mini-click-non">Nhà xuất bản</span>
                            </a>
                        </li>
                        <li>
                            <a href="/KhachHang" aria-expanded="false">
                                <i class="icon icon-wrap nalika-team"></i>
                                <span class="mini-click-non">Độc giả</span>
                            </a>
                        </li>
                        <!--<li><a href="/DonHang" aria-expanded="false">
        <i class="icon icon-wrap nalika-price-tag"></i>
        <span class="mini-click-non">Đơn hàng của khách</span>
    </a></li>-->
                        <li>
                            <a href="/MuonSach" aria-expanded="false">
                                <i class="icon icon-wrap nalika-new-file"></i>
                                <span class="mini-click-non">Mượn sách</span>
                            </a>
                        </li>
                        <li>
                            <a href="/TraSach" aria-expanded="false">
                                <i class="icon icon-wrap nalika-inbox"></i>
                                <span class="mini-click-non">Trả sách</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" aria-expanded="false">
                                <i class="icon icon-wrap nalika-printer"></i>
                                <span class="mini-click-non">Nộp tiền phạt</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" 
                                                    class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                <i class="icon nalika-menu-task"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            <div class="breadcome-heading">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row" style="margin-top:30px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list" style="background-color: #8B4513; border: 5px black solid ">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-wp">
                                            <div class="breadcomb-icon">
                                                <i class="icon nalika-home"></i>
                                            </div>
                                            <div class="breadcomb-ctn">
                                                <h2>Trang Quản Trị</h2>
                                                <p>Chào mừng đến trang quản trị Lá Khô <span class="bread-ntd">dành cho Admin</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 30px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-cart-inner">
                             @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" style="margin-bottom: -50px">
            <p style="float: left;width: 30%;" align="center">
                <img src="~/image/leaves - end.png" width="250" height="103" style="padding-top: 15px" />
            </p>
            <div style="float: left; width: 40%;" align="center">
                <div style="margin-top: 10px">
                    &copy; @DateTime.Now.Year - Nhà xuẩt bản Lá Khô. <br />
                    Nhà sách chuyên bán những tác phẩm văn học Việt Nam <br />
                    Địa chỉ: 55 Quang Trung, Nguyễn Du, Hai Bà Trưng, Hà Nội <br />
                    Điện thoại: 0243 943 4490 <br />
                    Email: nhaxuatbanlakho@gmail.com <br />
                    <a href="#">Liên hệ với chúng tôi để cập nhật và giải đáp thắc mắc</a>
                </div>
            </div>
            <div id="pls" style="float:right; padding: 10px 0 0 30px; margin-right: 50px;">
                <p>HỖ TRỢ THANH TOÁN QUA</p>
                <img src="~/image/momo.jfif" width="50" height="50" />
                <img src="~/image/visa.png" width="60" height="60" />
                <img src="~/image/zalopay.jpg" width="50" height="50" />&nbsp;&emsp;
            </div>
        </div>
    </div>

    <!-- jquery
        ============================================ -->
    <script src="~/ScriptJS/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/ScriptJS/bootstrap.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/ScriptJS/jquery.meanmenu.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/ScriptJS/jquery.sticky.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/ScriptJS/metisMenu/metisMenu.min.js"></script>
    <script src="~/ScriptJS/metisMenu/metisMenu-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/ScriptJS/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/ScriptJS/main.js"></script>
</body>
</html>