<a href="@Url.Action("HienThiGioHang", "GioHang")" style="text-decoration: none">
    <img src="~/image/shoppingcart_icon.png" width="20" height="20" /> 
    <span class='badge badge-warning' id='lblCartCount'> @ViewBag.TongSL </span>
</a>